$body-bg: #e5e5e5;
$primary: #66A84F;
$secondary: #8B8053;
$success: #00f867;
$info: #cb0c9f;
$warning: #fbcf33;
$danger: #ea0606;
$light: #B5BAA0;
$dark: #3B4029;
$grey: #cbcbcb;
$ellipse: #404F05;
$darker: #382F09;

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
  "ellipse": $ellipse,
  "darker": $darker,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
